<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyI8MFxp4CRJv2ahYk7tfEOJOgWSeoDew</string>
	<key>GCM_SENDER_ID</key>
	<string>353523488170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jalsahaySih2023</string>
	<key>PROJECT_ID</key>
	<string>jal-sahay-sih</string>
	<key>STORAGE_BUCKET</key>
	<string>jal-sahay-sih.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353523488170:ios:fec16fff7d2719497247d3</string>
</dict>
</plist>